@keyframes animateBackground {
  0% {
    background-position: 0% 49%;
  }
  50% {
    background-position: 100% 52%;
  }
  100% {
    background-position: 0% 49%;
  }
}

@keyframes wobble {
  50% {
    border-radius: 30px;
  }
  100% {
    border-radius: 5px;
  }
}
